<div
  class="w-fit bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
>
  <img
    src="https://images.unsplash.com/photo-1646753522408-077ef9839300?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8NjZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
    alt="Product"
    class="h-80 w-72 object-cover rounded-t-xl"
  />
  <div class="px-4 py-3 w-72">
    <span class="text-gray-400 mr-3 uppercase text-xs">Brand</span>
    <p class="text-lg font-bold text-black truncate block capitalize">
      Product Name
    </p>
    <p class="text-lg font-semibold text-black cursor-auto">$149</p>
    <% if(admin){ %>
    <div class="flex items-center justify-between my-4">
      <button
        class="bg-green-700 text-base font-bold text-white px-4 py-2 rounded-md hover:bg-yellow-300 duration-200"
      >
        Add Cart
      </button>
      <button
        class="bg-red-700 text-base font-bold text-white px-4 py-2 rounded-md hover:bg-green-300 duration-200"
      >
        Delete
      </button>
    </div>
    <% } else { %>
    <div class="flex items-center justify-between my-4">
      <button
        class="bg-green-700 w-full text-base font-bold text-white px-4 py-2 rounded-md hover:bg-yellow-300 duration-200"
      >
        Add Cart
      </button>
    </div>
    <% } %>
  </div>
</div>
