<nav class="flex flex-col items-center">
  <a
    href="<%= urlNavigation.list %>"
    class="py-4 px-2 font-semibold flex items-center"
  >
    <div
      class="w-12 h-12 relative flex justify-center items-center rounded-full <% if(onPage === navigationActive.list){ %>bg-[#6853F0]<% } else{ %>bg-[#D9D9D9] hover:text-green-500 transition duration-300<% } %>"
    >
      <img
        src="/assets/list-product-icon.png"
        class="absolute w-5"
        alt="list Icon"
      />
    </div>
  </a>
  <% if(admin){ %>
  <a
    href="<%= urlNavigation.addProduct || urlNavigation.editProduct %>"
    class="py-4 px-2 font-semibold flex items-center"
  >
    <div
      class="w-12 h-12 relative flex justify-center items-center rounded-full <% if(onPage === navigationActive.addProduct || onPage === navigationActive.editProduct){ %>bg-[#6853F0]<% } else{ %>bg-[#D9D9D9] hover:text-green-500 transition duration-300<% } %>"
    >
      <img
        src="/assets/add-product-icon.png"
        class="absolute w-5"
        alt="add list Icon"
      />
    </div>
  </a>
  <a
    href="<%= urlNavigation.addCategory || urlNavigation.editCategory %>"
    class="py-4 px-2 font-semibold flex items-center"
  >
    <div
      class="w-12 h-12 relative flex justify-center items-center rounded-full <% if(onPage === navigationActive.addCategory || onPage === navigationActive.editCategory){ %>bg-[#6853F0]<% } else{ %>bg-[#D9D9D9] hover:text-green-500 transition duration-300<% } %>"
    >
      <img
        src="/assets/add-product-icon.png"
        class="absolute w-5"
        alt="add list Icon"
      />
    </div>
  </a>
  <a
    href="<%= urlNavigation.reportSelling %>"
    class="py-4 px-2 font-semibold flex items-center"
  >
    <div
      class="w-12 h-12 relative flex justify-center items-center rounded-full <% if(onPage === navigationActive.reportSelling){ %>bg-[#6853F0]<% } else{ %>bg-[#D9D9D9] hover:text-green-500 transition duration-300<% } %>"
    >
      <img
        src="/assets/report-selling-icon.png"
        class="absolute w-5"
        alt="report selling list Icon"
      />
    </div>
  </a>
  <% } %>
</nav>
