<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/nav.ejs', {
      admin: admin,
      onPage: onPage,
      navigationActive: navigationActive,
      urlNavigation: urlNavigation,
    }) %>

    <div class="container my-10 mx-auto grid gap-4">
      <main class="mb-12">
        <ul class="p-8">
          
          <li class="flex bg-white p-5 rounded-lg shadow-lg mb-5">
            <img src="https://purepng.com/public/uploads/large/purepng.com-birthday-cakefood-chocolate-cake-sweet-tasty-birthday-eat-delicious-941524600851xxygd.png" class="w-32"/>
            <div class="flex-grow flex flex-col md:flex-row items-center justify-center md:justify-between">
              <p class="title font-semibold text-sm md:text-lg mb-5 md:mb-0 md:pl-5">Chocolate Cake</p>
              <div class="flex">
                <button class="fa fa-minus rounded-lg bg flex justify-center items-center p-3 z-10"></button>
                <input type="number" value="1" class="text-center text-md font-semibold p-2 rounded w-20 focus:outline-none" />
                <button class="fa fa-plus rounded-lg bg flex justify-center items-center p-3 z-10"></button>
              </div>
              <p class="value font-bold text-sm mt-5 md:mt-0">$12.80</p>
            </div>
          </li>
          
          <li class="flex bg-white p-5 rounded-lg shadow-lg mb-5">
            <img src="https://www.pngpix.com/wp-content/uploads/2016/07/PNGPIX-COM-Cupcake-PNG-Transparent-Image-2-500x540.png" class="w-32"/>
            <div class="flex-grow flex flex-col md:flex-row items-center justify-center md:justify-between">
              <p class="title font-semibold text-sm md:text-lg mb-5 md:mb-0 md:pl-5">Milk Shake</p>
              <div class="flex">
                <button class="fa fa-minus rounded-lg bg flex justify-center items-center p-3 z-10"></button>
                <input type="number" value="1" class="text-center text-md font-semibold p-2 rounded w-20 focus:outline-none" />
                <button class="fa fa-plus rounded-lg bg flex justify-center items-center p-3 z-10"></button>
              </div>
              <p class="value font-bold text-sm mt-5 md:mt-0">$12.80</p>
            </div>
          </li>
                
          <li class="flex bg-white p-5 rounded-lg shadow-lg mb-5">
            <img src="https://www.pngpix.com/wp-content/uploads/2016/07/PNGPIX-COM-Cupcake-PNG-Transparent-Image-2-500x540.png" class="w-32"/>
            <div class="flex-grow flex flex-col md:flex-row items-center justify-center md:justify-between">
              <p class="title font-semibold text-sm md:text-lg mb-5 md:mb-0 md:pl-5">Cup Cake</p>
              <div class="flex">
                <button class="fa fa-minus rounded-lg bg flex justify-center items-center p-3 z-10"></button>
                <input type="number" value="1" class="text-center text-md font-semibold p-2 rounded w-20 focus:outline-none" />
                <button class="fa fa-plus rounded-lg bg flex justify-center items-center p-3 z-10"></button>
              </div>
              <p class="value font-bold text-sm mt-5 md:mt-0">$12.80</p>
            </div>
          </li>
          
        </ul>
      </main>
        
      <!--  footer    -->
      <footer class="header-section flex flex-row px-8 py-1 fixed bottom-0 left-0 w-full z-50 bg-green-600">
        <div class="mr-12">
          <p class="title font-semibold text-sm">Total</p>
          <p class="value font-semibold text-lg font-bold">$40.40</p>
        </div>
        <div class="flex-grow text-center">
          <button class="bg-white px-10 py-3 rounded-lg w-full" onclick="toggle_visibility('contact-popup')">
            <span class="font-bold">Checkout</span>
            <i class="fa fa-chevron-right"></i>
          </button>
       </div>
      </footer>  
    </div>

    <div class="fixed z-10 overflow-y-auto top-0 w-full left-0 hidden" id="contact-popup">
      <div class="flex items-center justify-center min-height-100vh pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity">
          <div class="absolute inset-0 bg-gray-900 opacity-75" />
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
        <div class="inline-block align-center bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <label class="font-medium text-gray-800">Name</label>
            <input type="text" class="w-full outline-none rounded bg-gray-100 p-2 mt-2 mb-3" />
            <label class="font-medium text-gray-800">Url</label>
            <input type="text" class="w-full outline-none rounded bg-gray-100 p-2 mt-2 mb-3" />
          </div>
          <div class="bg-gray-200 px-4 py-3 text-right">
            <button type="button" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700 mr-2" onclick="toggle_visibility('contact-popup')"><i class="fas fa-times"></i> Cancel</button>
            <button type="button" class="py-2 px-4 bg-blue-500 text-white rounded font-medium hover:bg-blue-700 mr-2 transition duration-500"><i class="fas fa-plus"></i> Create</button>
          </div>
        </div>
      </div>
    </div>

    <script>
     function toggle_visibility(id) {
        var e = document.getElementById(id);

        if (e.style.display == "block") e.style.display = "none";
        else e.style.display = "block";
      }
    </script>
<%- include('../includes/end.ejs') %>


